@import "_variables.sass"

.header
    padding: 20rem 0
    text-align: center
    h3 
        font-family: "Poppins", sans-serif
        color: #272142
        font-size: 4rem
        line-height: 3rem
        font-weight: bold
        
    h1
        font-size: 8rem
        
        font-weight: bold

    h2 
        
        margin: 2rem 0
        
    p
        color: #272142

