.grid-big
    display: grid
   
    grid-template-areas: "info1 photo1" "info2 photo2" "info3 photo3" "info4 photo4" "info5 photo5"

    
    
    
    
    
    
.projects
    h1
        font-size: max(3rem, 3vw)
        max-width: 50rem
    &__buttons
        display: flex
        justify-content: space-evenly
        .btn
            width: 25rem
            height: 5rem
.hidecontent
    display: none
.grid__photo
    img
        width: 80%
        cursor: pointer
    img:hover
        opacity: .3
        
    
       