@import "_variables.sass"
    
.grid-sites
    display: grid
    justify-items: center
    align-items: center
    gap: 1rem
    grid-template-areas: "photo1" "photo2" "photo3" "photo4" "photo5"

    img
            width: 100%
            object-fit: cover
    .purple
        font-size: 3rem
@media (min-width: 800px)  
    .grid-sites
        grid-template-areas: "photo1 photo5 photo2 "  "photo3 photo5 photo4"
        
@media (max-width: 800px)
    .grid-sites
        grid-template-areas: "photo1" "photo2" "photo3" "photo4" "photo5"
       
.description
    position: absolute
    top:50%
    left:0
    right:0
    transform: translateY(-50%)
    opacity: 0 
    text-align: center
    color: $primary-color
    .projectTitle
        font-size: 3rem
        margin-bottom: 2rem
    .projectDescription
        font-size: 1.6rem
        color:  #343a40
        span
            color: $primary-color
    .descButtons
        display: flex
        padding: 3rem 0
        justify-content: space-evenly



.photos
    position: relative
    z-index: 34444
    
    &:hover
        img 
            transition: 1s
            cursor: pointer
            opacity: 0
        .btns,.description
            transition: 1s
            opacity: 1
.grid-applications
    display: grid
    justify-items: center
    align-items: center
    gap: 3rem
    grid-template-areas: "photo1" "photo2" "photo3" "photo4" 

    img
            width: 100%
            
            
          
        
    .purple
        font-size: 3rem
@media (min-width: 800px)  
    .grid-applications
        grid-template-areas: "photo1a photo2a"  "photo3a photo4a"
        
@media (max-width: 800px)
    .grid-applications
        grid-template-areas: "photo1a" "photo2a" "photo3a" "photo4a"
       
   
.photo1
    grid-area: photo1  
     
.photo2
    grid-area: photo2  
.photo3
    grid-area: photo3  
.photo4
    grid-area: photo4   
.photo5
    grid-area: photo5
.photo1a
    grid-area: photo1a  
.photo2a
    grid-area: photo2a 
.photo3a
    grid-area: photo3a   
.photo4a
    grid-area: photo4a



    
       
     
    
.projects
    position: relative
   
 
        
    &__buttons
        display: flex
        justify-content: space-evenly
        flex-wrap: wrap
        gap: 2rem
      
        .btn
            width: 25rem
            height: 5rem
.hidecontent
    display: none
   

        
    
.section--hidden
    opacity: 0
    
    transform: translate(20rem,20rem)
.section
    border-top: 1px solid #ddd
    transition: transform 1s, opacity 1s