@import "_variables.sass"
.introdaction 
    position: responsive
.arrow

        position: absolute
        bottom: 5rem
        right: 5rem
        fill: $primary-color
        width: 7rem
        
.header
    padding: 17vw 0
    text-align: center
    h3 

        
        font-size: max(2rem, 3.5vw)
        line-height: 3rem
        font-weight: bold
        
    .H1
        font-size: max(3rem, 6vw)
        display: inline-block
        font-weight: bold
        margin-left: 2rem

    h2 
        
        margin: 2rem 0
       
        
    p
        color: #272142

.left-side
    animation-name: left
    animation-duration: 2s
    animation-delay: 1s
 
.right-side  
    animation-name: right
    animation-duration: 2s
    animation-delay: 1s
@keyframes left
    0% 
        opacity: 0
        transform: translateX(-20rem)


    80% 
        transform: translateX(30vw)
        opacity: 1

    100% 
        opacity: 1
@keyframes right
    0% 
        opacity: 0
        transform: translateX(20rem)


    80% 
        transform: translateX(-30vw)
        opacity: 1

    100% 
        opacity: 1
@keyframes btn
    0% 
        opacity: 0
        transform: translateY(40rem)


    100% 
        opacity: 1
