@import "_variables.sass"
.nav
    display: flex
    justify-content: space-between
    align-items: center
    position: relative

    padding:  3rem 10vw
    &__logo
        a
            font-size: 2rem
            
    &__list
        font-size: 2rem
        align-items: center
        display: flex
        list-style: none
        gap: 2rem
        a 
            text-decoration: none
            color: #343a40
            transition: 1s

        a:hover
            color: $primary-color
           




  
  
.sticky
    position: fixed
    background-color: #e4e4e4cc
    left: 0
    right: 0
    padding: 1.5rem 10vw
    z-index: 78865
    


