.feedback
    &__box
        display: grid
        grid-template-columns: min-content 1fr min-content
        align-items: center
        padding: 7rem 0
        gap: 1rem
    &__box-pointer
                cursor: pointer
              

      


.slider
    display: flex
    position: relative
    overflow: hidden
.hide-box
    
    position: absolute
 
    
  
.slide
    
    display: flex
    justify-content: center
    img
        
        max-width: 100%
       