.feedback

   

               
    &__box
        display: grid
        grid-template-columns: min-content 1fr min-content
        align-items: center
        gap: 3rem
        
      
        &-pointer
            button
                cursor: pointer
                background-color: #f0f0f093
                border: none
                font-size: 3rem

                font-weight: 500
                padding: 1rem
                border-radius: 50%
.box
    display: flex
    position: relative
    overflow: hidden
    img
        width: 300%
      




.pointer-left,.pointer-right
    z-index: 34