@import "_variables.sass"
@import "_header.sass"
@import "_nav.sass"
@import "_buttons.sass"
@import "_history.sass"
@import "_sertification.sass"
@import "_header-projects.sass"
@import "_footer.sass"

    
    
* 
  margin: 0
  padding: 0


body 
  font-family: "Playfair Display", serif 
  background-color: $secondary-color
  color: #343a40
  overflow-x: hidden
html
  font-size: 62.5%
header
  min-height:  100vh
a
  text-decoration: none
.container-big
  max-width: 110rem
  padding:  0 10vw

.container-little
  max-width: 130rem
  padding:  5rem 7vw

.purple2
  color: $primary-color
  fill: $primary-color
.theme
  
  width: 3rem
  height: 3rem
  cursor: pointer
.sun
  fill: $primary-color
.moon
  display: none
  fill: white
.sunMenu
  display: none