@import "_variables.sass"
@import "_header.sass"
@import "_nav.sass"
@import "_buttons.sass"
@import "_history.sass"
@import "_sertification.sass"

    
    
* 
  margin: 0
  padding: 0


body 
  font-family: "Playfair Display", serif 
  background-color: #f9f7fe 
html
  font-size: 62.5%

a
  text-decoration: none
.container-big
  max-width: 110rem
  padding:  5rem 10vw

.container-little
  max-width: 130rem
  padding:  5rem 7vw


